:root {
  --main_color:#F79B36;
  --second_color:#989898;
  --black_color:#303030;
  --bg-color:#E6EAEE;
  --transtion:0.3s;
  --bg-btn:#CACACA;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Readex Pro", sans-serif;
}

hr {
  color: var(--second_color);
}

body {
  font-family: "Readex Pro", sans-serif;
  direction: rtl;
}

.restrotion {
  border-radius: 10px;
  border: 1px solid var(--bg-color);
}

.global_btn {
  background: var(--main_color);
  color: white;
  border: none;
  border-radius: 8px;
  transition: all var(--transtion) ease-in-out;
  padding: 10px;
}
.global_btn:active, .global_btn:focus {
  background-color: var(--bg-btn);
}

.btn_custom {
  background: #EAEAEA;
}
.btn_custom:focus, .btn_custom:hover {
  background: #EAEAEA;
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

.btn-close:focus, .btn:focus {
  box-shadow: 0 0 0 0.25rem #F79B36;
  opacity: 0.5;
}

::-moz-placeholder {
  font-size: 13px;
}

::placeholder {
  font-size: 13px;
}

.mycontainer {
  width: 45% !important;
  direction: rtl !important;
  margin: auto;
  background: #F8F8F8;
  padding: 0;
}

a {
  text-decoration: none;
  color: #303030;
}
a:hover {
  color: #303030;
}

.header {
  -moz-column-gap: 300px;
       column-gap: 300px;
  height: 55px;
}
.header i, .header a i {
  font-size: 20px;
}
.header h5 {
  font-weight: 400;
  color: var(--black_color);
}

@media (max-width: 768px) {
  .header {
    -moz-column-gap: 120px;
         column-gap: 120px;
  }
  header h5 {
    font-size: 14px;
  }
}
input[type=submit] {
  background: #F79B36;
  border: none;
  color: white;
  margin: 30px auto;
  text-align: center;
  min-width: 110px;
  display: block;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 8px;
  transition: all var(--transtion) ease-in-out;
}
input[type=submit]:active {
  background-color: var(--bg-btn);
}

@media (max-width: 768px) {
  input[type=submit] {
    font-size: 14px;
    font-weight: 400;
  }
  .global_btn a, .restrotion, .global_btn {
    font-size: 12px;
    padding: 7px;
    border-radius: 5px;
  }
}
.contact_us form, .join_us form, .edit_myAccount form {
  width: 100%;
  color: #303030;
  font-size: 16px;
}
.contact_us form i, .join_us form i, .edit_myAccount form i {
  color: #c7c7c7;
  font-size: 14px;
}
.contact_us .container_input, .contact_us #verificationContainer, .join_us .container_input, .join_us #verificationContainer, .edit_myAccount .container_input, .edit_myAccount #verificationContainer {
  display: flex;
  align-items: center;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  padding: 7px;
  margin: 15px 0;
}
.contact_us .container_input input, .contact_us .container_input textarea, .contact_us .container_input select, .contact_us #verificationContainer input, .contact_us #verificationContainer textarea, .contact_us #verificationContainer select, .join_us .container_input input, .join_us .container_input textarea, .join_us .container_input select, .join_us #verificationContainer input, .join_us #verificationContainer textarea, .join_us #verificationContainer select, .edit_myAccount .container_input input, .edit_myAccount .container_input textarea, .edit_myAccount .container_input select, .edit_myAccount #verificationContainer input, .edit_myAccount #verificationContainer textarea, .edit_myAccount #verificationContainer select {
  margin: 0 10px;
  border: none;
  width: 100%;
  outline: none;
}
.contact_us .container_input select:focus, .contact_us #verificationContainer select:focus, .join_us .container_input select:focus, .join_us #verificationContainer select:focus, .edit_myAccount .container_input select:focus, .edit_myAccount #verificationContainer select:focus {
  border: none;
  box-shadow: none;
}
.contact_us .container_input input[type=radio], .contact_us #verificationContainer input[type=radio], .join_us .container_input input[type=radio], .join_us #verificationContainer input[type=radio], .edit_myAccount .container_input input[type=radio], .edit_myAccount #verificationContainer input[type=radio] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 83%);
  outline: none;
}
.contact_us .container_input input[type=radio]:checked, .contact_us #verificationContainer input[type=radio]:checked, .join_us .container_input input[type=radio]:checked, .join_us #verificationContainer input[type=radio]:checked, .edit_myAccount .container_input input[type=radio]:checked, .edit_myAccount #verificationContainer input[type=radio]:checked {
  border: 2px solid hsl(0, 0%, 83%);
  background-color: #F79B36;
}

footer {
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(219, 215, 215, 0.1411764706);
  background: linear-gradient(180deg, #FFFFFF 0%, #e9e9e9 100%);
}
footer div {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all var(--transtion) ease-in-out;
}
footer div:hover, footer div:active {
  background-color: white;
}
footer div:hover i, footer div:active i {
  color: #F79B36;
}
footer div i {
  font-size: 15px;
}
footer div a:nth-child(2) {
  color: var(--second_color);
  font-size: 12px;
  line-height: 15px;
}

input[type=checkbox] {
  accent-color: var(--main_color);
}

@media (max-width: 768px) {
  .mycontainer {
    width: 100% !important;
    padding: 0;
    margin: auto;
  }
  ::-moz-placeholder {
    font-size: 10px;
  }
  ::placeholder {
    font-size: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .mycontainer {
    width: 98% !important;
    overflow: hidden;
    padding: 0;
    margin: auto;
  }
}/*# sourceMappingURL=global.css.map */